# Ignore everything by default
*

# Keep git files
!.gitignore

# Allow wp-content structure
!wp-content/
wp-content/*

# Allow themes folder
!wp-content/themes/
wp-content/themes/*

# Allow ONLY your custom child theme
!wp-content/themes/sht-child/
!wp-content/themes/sht-child/**

# (Optional) ignore OS/editor junk
.DS_Store
Thumbs.db
*.log

